<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE config [
  <!ENTITY % ConfigFilterEvents SYSTEM "..\..\Include\ConfigFilterEvents.ent">
  %ConfigFilterEvents;
]>
<config xmlns="urn:schemas-fast-com:data-pattern">
  <query events="Initialize, Checking, Script" reference="&ConfigFilterEventsReference;">
    <text>
      <![CDATA[
exec @@sysDatabaseName..FastBusiness$Generate$FilterEvents @@controller, @@event]]>
    </text>
  </query>
</config>